.cardList {
  width: 100%;
  min-height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 0 10px;
  box-shadow: 2px 2px 2px 2px gray;
}
.btnDiv {
  display: flex;
  gap: 2%;
}
.deleteBtn {
  color: red;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.addRightBtn {
  color: green;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.addLeftBtn {
  color: rgb(85, 85, 18);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.doneBtn {
  color: rgb(85, 85, 18);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  color: gray;
}
h2 {
  overflow: hidden;
  overflow-wrap: break-word;
}
