.todoTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid orangered;
}
.line {
  height: 20px;
  width: 1px;
  border: 1px solid gray;
}
span {
  font-size: 25px;
}
.Backlog {
  border-bottom: 2px solid brown;
}

.Done {
  border-bottom: 2px solid rgb(77, 77, 9);
}
